.header {
  align-items: center;
  background-image: linear-gradient(95deg, #e42045, #902a7d 54%, #491e54);
  box-shadow: 2px 3.5px 10px 0 rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex: 0 0 100px;
  justify-content: center;
}
